* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#status{
    font-weight: bold;
    padding-top: 8px;
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
    align-content: center;
    visibility: hidden;
    max-height: 0;
}

#login{
    width: auto;
    height: 40px;
    background-color: crimson;
}

#login-bar{
    visibility: visible;
    padding-top: 2px;
    margin-left: auto;
    width: fit-content;
    margin-right: 3%;
}

#registerpage{
    visibility: hidden;
    position: fixed;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3; 
    cursor: pointer;
    color: black;
    display: block;
}

#registerform{
    padding: 18px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background-color: white;
    transform: translateY(50%);
}

#email, #password, #psw-repeat, #nama{
    margin-bottom: 8px;
    width: 98%;
    border: 1px solid black;
}

#title{
    font-size: 12pt;
    font-family: monospace;
    width: 80%;
    justify-self: auto;
    margin-left: auto;
    margin-right: auto;
}

#primary {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 100%;
    max-height: 100%;
}

#start {
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    z-index: 2;
    font-weight: bold;
}

div.sticky {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1;
}

#utility {
    background-color: rgba(239, 239, 239, 0.1);
    background-blend-mode: luminosity;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    align-self: center;
    font-family: ui-rounded;
}

.digit {
    font-size: 25px;
}

#leaderboard {
    background-color: rgba(210,210,210,1);
    background-blend-mode: luminosity;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    align-self: center;
    font-family: ui-rounded;
}

#game {
    width: 100%;
    height: 100%;
}

img.asset {
    display: none;
}

#nama1th, #score1th, #id1th, #nama2th, #score2th, #id2th, #nama3th, #score3th, #id3th , .lb {
    border: 1px solid black;
}


#reference {
    margin-left: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}